# Frontend Dependencies
node_modules/
dist/
.env
.env.local
/tmp

# Backend/Lambda Dependencies & Artifacts
*.zip
__pycache__/
lambda_functions/*/bin/
lambda_functions/*/boto3/
lambda_functions/*/boto3-*/
lambda_functions/*/botocore/
lambda_functions/*/botocore-*/
lambda_functions/*/dateutil/
lambda_functions/*/jmespath*/
lambda_functions/*/python_dateutil*/
lambda_functions/*/s3transfer*/
lambda_functions/*/six*/
lambda_functions/*/urllib3*/
lambda_functions/*/__pycache__*
lambda_functions/*/*.dist-info
lambda_functions/*/pypdf/
lambda_functions/*/pypdf*/

lambda_functions/*/jose/
lambda_functions/*/python_jose*/
lambda_functions/*/cryptography*/
lambda_functions/*/cffi*/
lambda_functions/*/pycparser*/

# OS Files
.DS_Store

# six.py compatibility library
lambda_functions/**/six.py
